
body{
    background-image: url("https://www.teahub.io/photos/full/95-957055_download-free-wallpaper-angle-line-white-minimalist-minimalistic.jpg");
    background-size: cover;
}

footer{
    color: purple;

}


